.create-review {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 5rem;

    .book-details {
        max-width: 300px;
        grid-template-columns: 1fr;
    }

    img {
        max-height: 20rem;
    }

    &__book-infos {
        margin-bottom: 2rem;

        h1 {
            margin-bottom: 1rem;
        }

    }

    &__form {
        // border: solid 1px $borderColor;

        textarea {
            width: 100%;
            height: 20rem;
            padding: 1rem;
            border: none;
            border: solid 1px $borderColor;
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }

        .btn-container {
            display: flex;
            justify-content: center;
        }
    }
}