.book-card-container {
    .single-row-grid {
        @include containerGrid;
        height: 470px;
        padding-bottom: 2rem;
        overflow: hidden;

        &:has(.no-item) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .no-item {
                font-size: 2rem;
                color: $darkgray;
                text-align: center;
                margin-top: 5rem;
            }

            .btn {
                width: 20rem;
            }
        }    
    
        + .btn-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 2rem;

            &.hidden {
                display: none;
            }

            & a {
                grid-column: 2 / span 1;
            }
        }    
    }
}