$primaryColor: #F1D302;
$secondaryColor: #F76F72;
$blue: #235789;
$white: #FDFFFC;
$black: #020100;
$darkgray: #2c2c2c;
$lightgray: #7c7c7c;
$borderColor: #D3D3D3;


*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: $black;
    text-transform: uppercase;
}
 h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
 }

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
    color: $darkgray;
    line-height: 1.5;
}

a {
    font-size: 1.4rem;
    text-decoration: none;
    color: $primaryColor;
    font-weight: 700;
}

section {
    margin-bottom: 8rem;
}

.nav {
    width: 100vw;
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem 3rem;

    .logo {
        height: 12rem;
        overflow-y: hidden;
        display: inline-block;

        img {
            margin: -2rem 0 0 0;
            height: 140%;
        }
    }

    &__btn--sq {
        width: 6rem;
        height: 6rem;
        padding: .5rem;
        line-height: 1.3rem;
        text-align: right;
        border: solid 2px $black;
        color: $black;
        background: $white;
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: -1px;
        transition: all 0.3s;

        span {
            letter-spacing: -2px;
            display: inline-block;
            font-size: 2rem;
        }


        &:hover {
            background: $primaryColor;
            color: $white;
            border-color: $primaryColor;
        }
    }
}

.container {
    width: 100vw;
    min-height: calc(100vh - 12rem);
    padding-inline: 10vw;
    margin-bottom: 8rem;

    &.full-width {
        margin-bottom: 0;
        padding-inline: 0;
    }
}

.welcome {
    background: url('../../public/images/books-and-cat.jpeg');
    display: flex;
    min-height: calc(100vh - 12rem);

    > div {
        width: 50vw;
        padding: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-of-type {
            flex-direction: column;
            align-items: normal;
            h1 {
                font-size: 4rem;
                color: $white;
                text-shadow: 5px 5px $black;
            }
        }
    }
}

.login-card {
    width: 400px;
    min-height: fit-content;
    background: $white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 3rem 2rem 5rem;

    h1 {
        text-align: center;
    }

    &__divider {
        width: 100%;
        height: 3rem;
        margin: 2rem 0;
        position: relative;

        .line {
            width: 100%;
            height: 1px;
            background: $borderColor;
            border: none;
            margin-top: 1.5rem; 
        }

        span {
            background: $white;
            margin-top: -1.5rem;
            font-size: 1.6rem;
            color: $black;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__footer {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;
    }
}

/* Form */
.form-group {
    padding-top: 10px;
    display: flex;
    flex-direction: column;

    &.w-half {
        width: 50%;
    }

    &.inline {
        flex-direction: row;
        align-items: center;
    }
    
    label {
        order: -1;
        padding-left: 5px;
        transition: all .2s ease-in-out;
        transform: translateY(20px);
        pointer-events: none;
        font-size: 1.6rem;
        color: $darkgray;
        text-transform: capitalize;
    }

    input.form-control {
        width: 100%;
        height: 3rem;
        margin: 1rem 0;
        padding: 0 1rem;
        border: none;
        border-bottom: 1px solid $borderColor;
        font-size: 1.4rem;
    }

    input.form-control:focus + label {
        transform: translateY(-2px);
    }
}

/* Buttons */
@mixin primaryBtn {
    background: $primaryColor;
    color: $white;
}

@mixin secondaryBtn {
    background: $white;
    border: solid 1px $primaryColor;
    color: $primaryColor;
}

a.btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .5rem;
}

.btn {
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    padding: 0 1rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
    @include primaryBtn;

    &:hover {
       @include secondaryBtn; 
    }

    &--secondary {
        @include secondaryBtn;
       
        &:hover {
            @include primaryBtn; 
         }
    }
}

.book-search {
    width: 100%;
    height: 10rem;

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;

        .form-group {
            max-width: 80rem;
            width: 80vw;
        }

        .btn {
            width: 10rem;
        }
    }
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.book-card {
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
        height: 200px;
        object-fit: contain;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__content {
        margin-top: 3rem;

        .review-date {
            font-size: 1.4rem;
            color: $lightgray;
            margin: 1rem 0 .5rem;
        }
        
        .rating {
            svg {
                height: 2rem;
                fill: $primaryColor;
            }
        }
    }

    &__btn-container {
        .btn:first-of-type {
            margin-bottom: 0;
        }
        
    }
}

.book-details {
    display: grid;
    grid-template-columns: .75fr 1fr;
    justify-content: center;
    gap: 1rem;

    img {
        width: 100%;
        max-height: 300px;
        object-fit: contain;
    }

    &__content {
        h1 {
            margin-bottom: 1rem;
        }

        .sub-title {
            font-size: 1.8rem;
            font-weight: 700;
            color: $lightgray;
            margin-bottom: 1rem;
        }

        .description {
            border-top: solid 1px $borderColor;
            border-bottom: solid 1px $borderColor;
            padding: 1rem 0;
            margin: 2rem 0 ;
        }
    }

    &__footer {
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 2rem;

        .detail {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;

            svg {
                height: 2rem;
            }

            p:last-of-type {
                font-weight: 700;
            }
        }
    }
}

.reviewed-books--recently {
    .reviews-row {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        gap: 2rem;
    }
}

.actions {
    height: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: $blue;
    padding: 4rem 10rem;

    .action-btn {
        width: 20rem;
        height: 20rem;
        padding: 2rem;
        border: solid 2px $primaryColor;
        color: $primaryColor;
        position: relative;
        transition: all 0.3s;

        svg {
            height: 10rem;
            fill: $primaryColor;
        }

        span {
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -1px;
        }

        &.action-btn--create {
            svg {
                position: absolute;
                right: 2rem;
                bottom: 2rem;
            }
        }

        &.action-btn--show {
            span {
                text-align: right;
                position: absolute;
                right: 2rem;
                bottom: 2rem;
            }
        }

        &:hover {
            background: $primaryColor;
            color: $blue;

            svg {
                fill: $blue;
            }
        }
    }

    p {
        max-width: 30rem;
        font-size: 5rem;
        color: $primaryColor;
        text-align: center;
        font-family: "Sacramento", cursive;
    }
}

.review {
    display: grid;
    grid-template-columns: .75fr 1fr;
    justify-content: center;
    gap: 1rem;
}