$primaryColor: #F1D302;
$secondaryColor: #F76F72;
$blue: #235789;
$white: #FDFFFC;
$black: #020100;
$darkgray: #2c2c2c;
$lightgray: #D3D3D3;


*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.4rem;
    color: $darkgray;
}

a {
    font-size: 1.4rem;
    text-decoration: none;
    color: $primaryColor;
    font-weight: 700;
}

.nav {
    width: 100vw;
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem 3rem;

    .logo {
        height: 12rem;
        overflow-y: hidden;
        display: inline-block;

        img {
            margin: -2rem 0 0 0;
            height: 140%;
        }
    }

    &__btn--sq {
        width: 6rem;
        height: 6rem;
        padding: .5rem;
        line-height: 1.3rem;
        text-align: right;
        border: solid 2px $black;
        color: $black;
        background: $white;
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: -1px;
        transition: all 0.3s;

        span {
            letter-spacing: -2px;
            display: inline-block;
            font-size: 2rem;
        }


        &:hover {
            background: $primaryColor;
            color: $white;
            border-color: $primaryColor;
        }
    }
}

.container {
    width: 100vw;
    height: calc(100vh - 12rem);
}

.welcome {
    background: url('../../public/images/books-and-cat.jpeg');
    display: flex;

    > div {
        width: 50vw;
        padding: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-of-type {
            flex-direction: column;
            align-items: normal;
            h1 {
                font-size: 4rem;
                color: $white;
                text-shadow: 5px 5px $black;
            }
        }
    }
}

.login-card {
    width: 400px;
    min-height: fit-content;
    background: $white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 3rem 2rem 5rem;

    h1 {
        text-align: center;
    }

    &__divider {
        width: 100%;
        height: 3rem;
        margin: 2rem 0;
        position: relative;

        .line {
            width: 100%;
            height: 1px;
            background: $lightgray;
            border: none;
            margin-top: 1.5rem; 
        }

        span {
            background: $white;
            margin-top: -1.5rem;
            font-size: 1.6rem;
            color: $black;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__footer {
        display: flex;
        gap: 1rem;
        margin-top: 4rem;
    }
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: $black;
    text-transform: uppercase;
}

/* Form */
.form-group {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    
    label {
        order: -1;
        padding-left: 5px;
        transition: all .2s ease-in-out;
        transform: translateY(20px);
        pointer-events: none;
        font-size: 1.6rem;
        color: $darkgray;
        text-transform: capitalize;
    }

    input.form-control {
        width: 100%;
        height: 3rem;
        margin: 1rem 0;
        padding: 0 1rem;
        border: none;
        border-bottom: 1px solid $lightgray;
        font-size: 1.4rem;
    }

    input.form-control:focus + label {
        transform: translateY(-2px);
    }
}

/* Buttons */
@mixin primaryBtn {
    background: $primaryColor;
    color: $white;
}

@mixin secondaryBtn {
    background: $white;
    border: solid 1px $primaryColor;
    color: $primaryColor;
}

.btn {
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    padding: 0 1rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
    @include primaryBtn;

    &:hover {
       @include secondaryBtn; 
    }

    &--secondary {
        @include secondaryBtn;
       
        &:hover {
            @include primaryBtn; 
         }
    }
}

.book-search {
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            width: 10rem;
        }
    }

    &__results {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}