@mixin containerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    gap: 2rem;
    padding: 1rem;
}

/* Button */
@mixin primaryBtn {
    background: $primaryColor;
    color: $white;
}

@mixin secondaryBtn {
    background: $white;
    border: solid 1px $primaryColor;
    color: $primaryColor;
}