$primaryColor: #F1D302;
$secondaryColor: #F76F72;
$blue: #235789;
$white: #FDFFFC;
$black: #020100;
$darkgray: #2c2c2c;
$lightgray: #7c7c7c;
$borderColor: #D3D3D3;
$successColor: #28a745;
$errorColor: #dc3545;